*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
  --primary-color: #0a9c6f;
  --grey-900: #0d1919;
  --grey-800: #121b22;
  --grey-600: #1f2c34;
  --grey-700: #9f9fa1;
  --grey-500: #dfdfe1;
  --grey-300: #fefff6;
  --grey-200: #f1f2f6;
  --green-400: #138b80;
  --green-300: #2dca7a;
  --green-100: #dcf8c6;
  --primary-font: "Roboto", sans-serif;
}


body{
background-color: var(--primary-color);
padding: 60px;
}

.app{
  max-width: 1100px;
  margin: auto;
  background-color: white;
  display: grid;
  grid-template-columns: 320px 1fr;
  height: 90vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}

aside{
background-color: var(--grey-900);
color: white;
}

aside header{
background-color: var(--grey-800);
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
justify-content: center;
gap: 10px;
padding: 10px;
}

.perfil{
display: flex;
align-items: center;
gap: 10px;
}

.perfil img{
height:50px;
width: 50px;
border-radius: 50%;
}

.perfil h2{
font-size: 22px;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.actions button {
  padding: 7px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--grey-800);
  color: var(--grey-300);
  transition: transform .2s;
}

.actions button svg {
  width: 20px;
}

.actions button:hover {
  background-color: var(--grey-700);
  transform: translateY(-4px);
}

.buscar{
background-color: var(--grey-800);
padding: 10px;
}

.buscar form input{
background-color: var(--grey-700);
width: 100%;
display: block;
border:none;
padding: 10px;
border-radius: 10px;
outline: none;
color:white;
}

.buscar input:focus{
    outline: 1px solid var(--grey-300);
}

.chats ul{
list-style: none;
display: flex;
flex-direction: column;
gap:10px;
}

.user-chat{
background-color: var(--grey-900);
display: flex;
padding: 10px;
align-items: center;
gap: 10px;
}

.user-chat img {
height:50px;
width: 50px;
border-radius: 50%;
}

.user-chat:hover {
background-color: var(--grey-700);
cursor: pointer;
border-left: 3px solid var(--green-400);
}   

.mensajes header{
gap: 10px;
padding: 20px;
display: flex;
justify-content: start;
align-items: center;
height: 50px;
width: 100%;
background-color: var(--grey-300);
}

.mensajes header img{ 
width: 30px;
height: 30px;
border-radius: 50%

}

.mensajes header h4{
font-weight: 500;
font-size: medium;
}

.mensajes header p{
opacity: 50%;
font-size: small;
}

.mensajes-contenido{
border-top: 1px solid #a4a4a4;
border-bottom: 1px double #a4a4a4;
font-size: small;
height: 70vh;
padding: 20px;
background-color: rgb(255, 255, 255);

}

.recibido{
box-shadow: -2px 7px 6px -2px rgba(0,0,0,0.18);
-webkit-box-shadow: -2px 7px 6px -2px rgba(0,0,0,0.18);
-moz-box-shadow: -2px 7px 6px -2px rgba(0,0,0,0.18);
width: 300px;
display: flex;
flex-direction: column;
padding:5px;
border-radius: 10px;
margin-bottom: 20px;
background-color: var(--grey-200)
}

.enviado{
box-shadow: -2px 7px 6px -2px rgba(0,0,0,0.18);
-webkit-box-shadow: -2px 7px 6px -2px rgba(0,0,0,0.18);
-moz-box-shadow: -2px 7px 6px -2px rgba(0,0,0,0.18);
place-self: end;
width: 300px;
padding:5px;
border-radius: 10px;
margin-bottom: 20px;
background-color: var(--green-100)
}

.hora{
place-self: end
}

/* .mensajes footer{
display: flex;
padding: 15px;
background-color: var(--grey-300);
justify-content: space-between;
}

.mensajes footer img{
    padding: 3px;
}

.botones-multimedia{
    background-color: #2dca7a;
    border: none;
    color: var(--grey-300);
    width: 45px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: all .1s;
} */

footer {
  display: flex;
  background-color: var(--grey-500);
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

footer button {
  width: 25px;
  height: 25px;
  padding: 3px;
}

footer svg {
  width: 100%;
  height: 100%;
}

footer .attach {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--grey-700);
  transition: color .2s;
}

footer .attach:hover {
  color: var(--grey-800);
}

footer form {
  display: flex;
  align-items: center;
  flex: 1;
}

footer textarea {
  padding: 8px;
  resize: none;
  border-radius: 15px;
  width: 100%;
  border: none;
}

footer textarea:focus {
  outline: 1px solid var(--grey-700);
  border: none;
}

footer .send {
  background-color: #2dca7a;
  border: none;
  color: var(--grey-300);
  width: 45px;
  height: 30px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  transition: all .1s;
}

footer .send:hover {
  background-color: #138b80;
  transform: scale(0.98);
}
